{
  "name": "{{ npm_package_name }}",
  "version": "0.0.1",
  "description": "{{ description }}",
  "repository": "{{ repo_org_name }}/{{ repo_name }}",
  "license": "{{ 'MIT' if is_open_source else 'UNLICENSED' }}",
  "type": "module",
  "exports": {
    ".": {
      "types": "./index.d.mts",
      "import": "./index.mjs"
    }
  },
  "main": "./index.mjs",
  "typesVersions": {
    "*": {
      ".": [
        "./dist/types.d.mts"
      ]
    }
  },
  "files": [
    "dist",
    "index.mjs",
    "index.d.mts"
  ],
  "packageManager": "pnpm@{{ pnpm_version }}",
  "scripts": {
    "prepare": "nuxt-module-build build --stub && nuxt-module-build prepare",
    "prepack": "pnpm prepare && nuxt-module-build build",
    "dev": "pnpm prepare && nuxt dev playground",
    "dev:build": "pnpm prepare &&nuxt build playground",
    "dev:prepare": "pnpm prepare && nuxt prepare playground",
    "type-check": "pnpm install && pnpm dev:prepare && vue-tsc --noEmit",
    "lint": "eslint . --fix --ext .vue,.ts,.js",
    "test": "vitest run --coverage",
    "test:watch": "vitest watch",
    "test:types": "vue-tsc --noEmit && cd playground && vue-tsc --noEmit"
  },
  "dependencies": {
    "@nuxt/kit": "{{ nuxt_version }}"
  },
  "devDependencies": {
    "@faker-js/faker": "{{ faker_version }}",
    "@nuxt/devtools": "{{ nuxt_devtools_version }}",
    "@nuxt/eslint-config": "{{ nuxt_eslint_config_version }}",
    "@nuxt/module-builder": "{{ nuxt_module_builder_version }}",
    "@nuxt/schema": "{{ nuxt_version }}",
    "@nuxt/test-utils": "{{ nuxt_test_utils_version }}",
    "@types/node": "^{{ node_version.split('.')[0] }}",
    "eslint": "{{ eslint_version }}",
    "@vitest/eslint-plugin": "{{ vitest_eslint_plugin_version }}",
    "happy-dom": "{{ happy_dom_version }}",
    "nuxt": "{{ nuxt_version }}",
    "typescript": "{{ typescript_version }}",
    "vitest": "{{ vitest_version }}",
    "vue": "{{ vue_version }}",
    "vue-tsc": "{{ vue_tsc_version }}",
    "@vitest/coverage-istanbul": "{{ vitest_version }}",
    "@vue/test-utils": "{{ vue_test_utils_version }}"
  }
}
