{
  "name": "{{ npm_package_name }}",
  "version": "1.0.0",
  "description": "{{ description }}",
  "repository": "{{ repo_org_name }}/{{ repo_name }}",
  "license": "{{ 'MIT' if is_open_source else 'UNLICENSED' }}",
  "type": "module",
  "exports": {
    ".": {
      "types": "./dist/types.d.mts",
      "import": "./dist/module.mjs"
    }
  },
  "main": "./dist/module.mjs",
  "typesVersions": {
    "*": {
      ".": [
        "./dist/types.d.mts"
      ]
    }
  },
  "files": [
    "dist"
  ],
  "workspaces": [
    "playground"
  ],
  "packageManager": "pnpm@{{ pnpm_version }}",
  "scripts": {
    "prepack": "nuxt-module-build build",
    "dev": "nuxt-module-build build --stub && nuxt-module-build prepare && nuxt dev playground",
    "dev:build": "nuxt build playground",
    "dev:prepare": "nuxt-module-build build --stub && nuxt-module-build prepare && nuxt prepare playground",
    "lint": "eslint .",
    "test": "vitest run",
    "test:watch": "vitest watch",
    "test:types": "vue-tsc --noEmit && cd playground && vue-tsc --noEmit"
  },
  "dependencies": {
    "@nuxt/kit": "{{ nuxt_version }}"
  },
  "devDependencies": {
    "@nuxt/devtools": "{{ nuxt_devtools_version }}",
    "@nuxt/eslint-config": "{{ nuxt_eslint_config_version }}",
    "@nuxt/module-builder": "{{ nuxt_module_builder_version }}",
    "@nuxt/schema": "{{ nuxt_version }}",
    "@nuxt/test-utils": "{{ nuxt_test_utils_version }}",
    "@types/node": "^{{ node_version.split('.')[0] }}",
    "changelogen": "{{ changelogen_version }}",
    "eslint": "{{ eslint_version }}",
    "nuxt": "{{ nuxt_version }}",
    "typescript": "{{ typescript_version }}",
    "vitest": "{{ vitest_version }}",
    "vue-tsc": "{{ vue_tsc_version }}"
  }
}
