[![npm version](https://img.shields.io/npm/v/{{ npm_package_name }}?style=flat)](https://www.npmjs.com/package/{{ npm_package_name }})
[![npm downloads](https://img.shields.io/npm/dm/{{ npm_package_name }}?style=flat)](https://www.npmjs.com/package/{{ npm_package_name }})
{% if is_open_source %}[![License](https://img.shields.io/npm/l/{{ npm_package_name }}?style=flat)](./LICENSE){% endif %}
[![Nuxt](https://img.shields.io/badge/Nuxt-020420?logo=nuxt.js)](https://nuxt.com)

# {{ repo_name }}

{{ description }}

## Features

<!-- Highlight some of the features your module provide here -->
- &nbsp;Foo
- &nbsp;Bar
- &nbsp;Baz

## Quick Setup

Install the module to your Nuxt application with one command:

```bash
npx nuxt module add {{ npm_package_name }}
```

That's it! You can now use {{ repo_name }} in your Nuxt app ✨

## Contribution

<details>
  <summary>Local development</summary>

  ```bash
  # Install dependencies
  pnpm install

  # Generate type stubs
  pnpm dev:prepare

  # Develop with the playground
  pnpm dev

  # Run the tests
  pnpm test

  # Build the module
  pnpm prepack
  ```

</details>
