{
  "name": "{{ npm_package_name }}-playground",
  "private": true,
  "type": "module",
  "packageManager": "pnpm@{{ pnpm_version }}",
  "scripts": {
    "dev": "nuxt dev",
    "build": "nuxt build",
    "generate": "nuxt generate"
  },
  "dependencies": {
    "{{ npm_package_name }}": "latest",
    "nuxt": "{{ nuxt_version }}"
  }
}
