{% raw %}name: Publish to Staging Package Registry

on:
  workflow_dispatch:

env:
  PRE_COMMIT_HOME: ${{ github.workspace }}/.precommit_cache

permissions:
  id-token: write # needed to assume OIDC roles
  contents: read

jobs:
  lint:
    name: Pre-commit
    uses: ./.github/workflows/pre-commit.yaml
    permissions:
      contents: write # needed for mutex
      id-token: write # needed to assume OIDC roles
    with:
      python-version: {% endraw %}{{ py313_version }}{% raw %}
      setup-node: true
      node-version: {% endraw %}{{ node_version }}{% raw %}

  test:
    needs:
      - lint
    strategy:
      matrix:
        os:
        {% endraw %}
          - "{{ gha_linux_runner }}"
{% if use_windows_in_ci %}          - {{ gha_windows_runner }}
{% endif %}
{% raw %}
    runs-on: ${{ matrix.os }}
    timeout-minutes: {% endraw %}{{ gha_medium_timeout_minutes }}{% raw %}
    steps:
      - name: Checkout code
        uses: actions/checkout@{% endraw %}{{ gha_checkout }}{% raw %}

      - name: Install dependencies
        uses: ./.github/actions/install_deps
        with:
          node-version: {% endraw %}{{ node_version }}{% raw %}
          skip-installing-ssm-plugin-manager: true

      - name: Prepare module stubs
        run: pnpm dev:prepare

      - name: Run tests
        run: pnpm test

  build-and-publish:
    needs:
      - test
    timeout-minutes: {% endraw %}{{ gha_medium_timeout_minutes }}{% raw %}
    runs-on: {% endraw %}{{ gha_linux_runner }}{% raw %}
    steps:
      - name: Checkout code
        uses: actions/checkout@{% endraw %}{{ gha_checkout }}{% raw %}

      - name: Install dependencies
        uses: ./.github/actions/install_deps
        with:
          node-version: {% endraw %}{{ node_version }}{% raw %}
          skip-installing-ssm-plugin-manager: true

      - name: Build module
        run: pnpm prepack
{% endraw %}
{% if npm_package_registry == "AWS CodeArtifact" %}
      - name: OIDC Auth for Publishing to CodeArtifact Staging
        uses: aws-actions/configure-aws-credentials@{{ gha_configure_aws_credentials }}
        with:
          role-to-assume: arn:aws:iam::{{ aws_central_infrastructure_account_id }}:role/GHA-CA-Staging-{{ repo_name }}
          aws-region: {{ aws_org_home_region }}
     4
      - name: Publish to CodeArtifact Staging
        run: |
          . .devcontainer/code-artifact-auth.sh
          pnpm publish --tag rc --no-git-checks

{% else %}
      - name: Publish to npm (staging rc tag)
        env:
          NODE_AUTH_TOKEN: {% raw %}${{ secrets.NPM_TOKEN }}{% endraw %}
        run: pnpm publish --tag rc --no-git-checks{% if npm_org_name %} --access public{% endif %}

{% endif %}
